**Sintaxe Básica**

In [5]:
# Sintaxe básica
print('Hello World!!! \n')
print("Hello World!!!")

Hello World!!!

Hello World!!!

**Operações Matemáticas Básicas**

In [1]:
# Operações matemáticas básicas
Soma = 1 + 2
Subtração = 1 - 1
Multiplicação = 2 * 10
Divisão = 10 / 2
Exponenciação = 2 ** 2
Resto_Divisao = 9 % 4
Divisao_Chão = 9 // 4

# Print formatado
print( 'Somar:{}'.format(Soma) )
print( 'Subtração:', Subtração )
print( 'Multiplacação: {Multiplicação}' )

print( 'Divisão', Divisão )
print( 'Exponenciação: {}' .format(Exponenciação) )
print( 'Resto_Divisao', Resto_Divisao )
print( 'Divisao_Chão: {}'.format(Divisao_Chão) )
print( 'Varios elementos: {}, {}, {}'.format(Soma, Subtração, Divisão) )

Somar:3
Subtração: 0
Multiplacação: 20
Divisão 5.0
Exponenciação: 4
Resto_Divisao 1
Divisao_Chão: 2
Varios elementos: 3, 0, 5.0

**Variáveis**

In [2]:
# Tipos de Variaveis
Inteiro_Exemplo_1 = int ( 100 )
Inteiro_Exemplo_2 = 100

Flutuante_Exemplo_1 = 10.50
Flutuante_Exemplo_2 = float( 10.50 )

Palavra_Exemplo_1 = 'Qualquer Palavra'
Palavra_Exemplo_2 = str( 'Qualquer Palavra' )

Booleando_Exemplo_1 = True
Booleando_Exemplo_2 = False

print( Inteiro_Exemplo_1, Inteiro_Exemplo_2, '\n' )
print( Flutuante_Exemplo_1, Flutuante_Exemplo_2, '\n' )
print( Palavra_Exemplo_1, Palavra_Exemplo_2, '\n' )
print( Booleando_Exemplo_1, Booleando_Exemplo_2, '\n' )

100 100

10.5 10.5

Qualquer Palavra Qualquer Palavra

True False

**Tipos de Dados**

In [3]:
# Tipos de Dados
Lista_Exemplo_1 = [1, 2, 3, 4, 5]
Lista_Exemplo_2 = ['Nome', 'Quarto', 'Morango', 4, 5]
Lista_Exemplo_3 = [1, 'Quarto', True, False]

# Tuplas são imutaveis (Não modifica)
Tupla_Exemplo_1 = ( 2, 3, 4, 6 )
Tupla_Exemplo_2 = ( 'Odemir', 'Depieri', 4 )

# Dicionário são para organizar os dados (Chave, Valor)
Dicionario = { 'Nome':'Odemir', 'Idade':29 }

print( Lista_Exemplo_1 )
print( Lista_Exemplo_2 )
print( Lista_Exemplo_3, '\n' )

print( Tupla_Exemplo_1 )
print( Tupla_Exemplo_2, '\n' )

print( Dicionario )

[1, 2, 3, 4, 5]
['Nome', 'Quarto', 'Morango', 4, 5]
[1, 'Quarto', True, False]

(2, 3, 4, 6)
('Odemir', 'Depieri', 4)

{'Nome': 'Odemir', 'Idade': 29}

**Nomeação de variáveis**

In [4]:
# Nomeando Variaveis | Exemplo 1
Laranja, Melão, Limão = 1, 2, 3
print( Laranja, Melão, Limão, '\n' )

# Nomeando Variaveis | Exemplo 2
Morango = Uva = Kiwi = 100
print( Morango, Uva, Kiwi, '\n' )

# Nomeando Variaveis | Exemplo 3
# Criando uma lista
Carros = ['VW', 'GM', 'Ford']

# Nomeando as variaveis com a lista
Marca_01, Marca_02, Marca_03 = Carros
print( Marca_03, '\n' )

# Combinando Variaveis | Exemplo 1
Nome = 'Odemir'
Sobrenome = 'Depieri'
Nome_Completo = Nome + ' ' + Sobrenome
print( Nome_Completo, '\n' )

# Combinando Variaveis | Exemplo 2
Dolar = 5.40
Imposto = 0.20
Valor_Liquido = Dolar - ( Dolar * Imposto )
print( Valor_Liquido )

1 2 3

100 100 100

Ford

Odemir Depieri

4.32

**Tipo da Informação**

In [5]:
# Criando tipos de informações
String = str('Olá Mundo!')
Inteiro = int(10)
Flutuante = float(10.99)
Complex = complex(1j)
Lista = list( ('Maça', 'Morango', 'Pera') )
Tupla = tuple( ('Maça', 'Morango', 'Pera') )
Range = range(6)
Dicionario = dict(nome='Odemir', age=29)
Set = set( ('Maça', 'Morango', 'Pera') )
Fronzet = frozenset( ('Maça', 'Morango', 'Pera') )
Boleano = bool(5)
Bytes = bytes(5)
ByteArray = bytearray(5)
Memoryview = memoryview( bytes(5) )

from datetime import datetime
Data = datetime.today().date()

# Mostrando os Valores
print( type(String) )
print( type(Inteiro) )
print( type(Flutuante) )
print( type(Complex) )
print( type(Lista) )
print( type(Tupla) )
print( type(Range) )
print( type(Dicionario) )
print( type(Set) )
print( type(Fronzet) )
print( type(Boleano) )
print( type(Bytes) )
print( type(ByteArray) )
print( type(Memoryview) )
print( type(Data) )

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'datetime.date'>

**Arredondamento**

In [6]:
# Comando Round
# Metodo round, arredonda valores

Valor_Exemplo = 12.123456789

print( round( Valor_Exemplo, 1 ) )
print( round( Valor_Exemplo, 2 ) )
print( round( Valor_Exemplo, 3 ) )
print( round( Valor_Exemplo, 5 ) )

12.1
12.12
12.123
12.12346

**Comando Len**

In [4]:
Lista = [1, 2, 3, 4, 5]
Dicionario = { 'casa':'apartamento', 'escritório':29, 'Vip':False }
Tupla = (10, 20)
String = 'Olá!'

print( len(Lista) )
print( len(Dicionario) )
print( len(Tupla) )
print( len(String) )

5
3
2
4

**Seleção de Strings**

In [1]:
# Strings
Minha_String = 'Aprender python é Top!'
print( type(Minha_String) )
print( len(Minha_String) )

print( Minha_String[0] )
print( Minha_String[5] )
print( Minha_String[-1] )
print( Minha_String[-10:] )
print( Minha_String[0:10] )

<class 'str'>
22
A
d
!
hon é Top!
Aprender p

**Manipulando String**

In [5]:
# Imprimindo uma string.
String = 'Olá!'
print( String )

# Tipo de uma string.
print( type( String ) )

# Tamanho de uma string.
print( len( String ) )

# Concatenação
print( String + ' Estou aprendendo Python...' )

# Substitui uma substring por alguma outra coisa.
Substituir = String.replace('Mundão', 'Mundo Louco :X')
print( Substituir )

# A string s começa com "Olá"?
print( String.startswith('Olá') )

# A string termina com "mundo"?
print( String.endswith('mundo') )

# Quantas ocorrências da palavra "a" a string possui?
print( String.count('M') )

# Capitalize - Transformar a primeira letra da primeira palavra em maiúscula.
String_02 = 'odemir depieri'
print( String_02.capitalize() )

# Verificar se uma string só possui números.
String_03 = '123456789'
String_04 = '123456789ABC'
print( String_03.isdigit() )
print( String_04.isdigit() )

# Verificar se uma string é alfanumérica (só possui letras e números).
print( '12345abc'.isalnum() )

# Transformar tudo em Maiusculo
print( String.upper() )

# Transformar tudo em Minúsculo
print( String.lower() )

# Procurar algo na string
print( String.find('!') )

# Removendo espaçoes antes e fim da palavra
String_05 =' Olá! '
print( String_05.strip() )

# Removendo espaçoes antes e fim da palavra
String_06 ='Loja 1 vendou 10, Loja 2 vendou 20, Loja 3 vendou 30 '
print( String_06.split(',') )

Olá!
<class 'str'>
4
Olá! Estou aprendendo Python...
Olá!
True
False
0
Odemir depieri
True
False
True
OLÁ!
olá!
3
Olá!
['Loja 1 vendou 10', ' Loja 2 vendou 20', ' Loja 3 vendou 30 ']

**Input**

In [1]:
# Comando input
# Enviar uma informação momentânea

Nome = input('Qual seu nome? ')
Idade = input('Quantos anos você tem? ')

print('Seu nome é:', Nome)
print('Sua idade:', Idade)

Qual seu nome? Reni
Quantos anos você tem? 31
Seu nome é: Reni
Sua idade: 31

**Operadores de Comparação**

In [2]:
# Operadores de Comparações - Parte 1
Igual = '=='
Diferente = '!='
Maior = '>'
Maior_Igual = '>='
Menor = '<'
Menor_Igual = '<='

print('8 é maior que 7:', 8 > 7 )
print('8 é menor que 7:', 8 < 7 )
print('8 é igual 7:', 8 == 7 )
print('10 é maior 10:', 10 > 10 )
print('10 é maior ou igual à 10:', 10 >= 10 )
print('10 é menor 10:', 10 < 10 )
print('10 é menor ou igual à 10:', 10 <= 10 )

8 é maior que 7: True
8 é menor que 7: False
8 é igual 7: False
10 é maior 10: False
10 é maior ou igual à 10: True
10 é menor 10: False
10 é menor ou igual à 10: True

**Operadores Lógicos**

In [3]:
# Operadores de Comparações - Parte 2
And = 'and'
Ou = 'or'
Negação = 'not'

print('8 é maior que 7 e 7 maior que 8:', 8 > 7 and 7 > 8 )
print('8 é maior que 7 e 7 menor que 8:', 8 > 7 and 7 < 8 )
print('8 é maior que 7 ou 7 menor que 8:', 8 == 7 or 7 == 8 )
print('8 é maior que 7 ou 7 menor que 8:', 8 > 7 or 7 > 8 )

8 é maior que 7 e 7 maior que 8: False
8 é maior que 7 e 7 menor que 8: True
8 é maior que 7 ou 7 menor que 8: False
8 é maior que 7 ou 7 menor que 8: True

**Operadores de Identidade**

In [4]:
String_01 = str('Olá')
String_02 = str('Olá')

print( String_01 is String_01 )
print( String_01 is String_02 )
print( String_01 == String_02 )
print( type(String_01) is type(String_02) )

True
False
True
True

**Operadores de Associação**

In [5]:
Lista_Ações = ['Magalu', 'Via', 'Assai', 'Carrefour']

print( 'Via' in Lista_Ações )
print( 'Via' not in Lista_Ações )

True
False

**Manipulando Lista**

In [6]:
# Manipulando dados dentro das Lista
Lista_Vazia = []
print('Lista antes:', Lista_Vazia, '\n' )

# Inserindo valores na Lista
Lista_Vazia.append(1)
Lista_Vazia.append(2)
Lista_Vazia.append(3)
print('Lista Depois:', Lista_Vazia, '\n' )

# Tamanho da lista
print('Lista contém:', len(Lista_Vazia), 'elementos', '\n' )

# Tamanho da lista
print('Acessando o 1º Elemento:', Lista_Vazia[0] )
print('Acessando o 2º Elemento:', Lista_Vazia[1] )
print('Acessando o último Elemento:', Lista_Vazia[-1] )
print('Acessando um periodo:', Lista_Vazia[0:2], '\n' )

# Excluindo valor na lista
del Lista_Vazia[1]
print('Depois da exclusão:', Lista_Vazia, '\n' )

# Limpando a lista
print('Depois da Limpeza:', Lista_Vazia.clear(), '\n' )

# Inserindo um valor com uma posição
Lista_Inserir = ['Posição 1', 'Posição 2', 'Posição 3']
Lista_Inserir.insert( 0, 'Posição 4' )
print( Lista_Inserir, '\n' )

# Inserindo uma lista na outra
Lista_Inserir_01 = ['Posição 1', 'Posição 2', 'Posição 3']
Lista_Inserir_02 = ['Posição 4', 'Posição 5', 'Posição 6']
Lista_Inserir_01.extend( Lista_Inserir_02 )
print( Lista_Inserir_01, '\n' )

# Removendo itens especifico pelo nome
Lista_Inserir_01.remove('Posição 6')
print( Lista_Inserir_01, '\n' )

# Removendo itens pelo index
Lista_Inserir_01.pop(0)
print( Lista_Inserir_01, '\n' )

# Ordenar uma lista
Lista_Alfabetica = ['Z', 'C', 'A', 'B', 'L']
Lista_Alfabetica.sort()
print( Lista_Alfabetica, '\n' )

# Ordenar uma lista de forma inversa
Lista_Alfabetica.sort( reverse=True )
print( Lista_Alfabetica, '\n' )

# Copiar uma Lista
Lista_Alfabetica_02 = Lista_Alfabetica.copy()
print( Lista_Alfabetica_02, '\n' )

# Indetificar o Index do elemento na lista
print( Lista_Alfabetica_02.index('L'), '\n' )

Lista antes: []

Lista Depois: [1, 2, 3]

Lista contém: 3 elementos

Acessando o 1º Elemento: 1
Acessando o 2º Elemento: 2
Acessando o último Elemento: 3
Acessando um periodo: [1, 2]

Depois da exclusão: [1, 3]

Depois da Limpeza: None

['Posição 4', 'Posição 1', 'Posição 2', 'Posição 3']

['Posição 1', 'Posição 2', 'Posição 3', 'Posição 4', 'Posição 5', 'Posição 6']

['Posição 1', 'Posição 2', 'Posição 3', 'Posição 4', 'Posição 5']

['Posição 2', 'Posição 3', 'Posição 4', 'Posição 5']

['A', 'B', 'C', 'L', 'Z']

['Z', 'L', 'C', 'B', 'A']

['Z', 'L', 'C', 'B', 'A']

1

**Pacote Datetime**

In [7]:
import datetime

# Dia de Hoje
Dia_Hoje = datetime.datetime.today().date()
print( f'Hoje é: {Dia_Hoje} \n' )

# Construindo uma Data
Data = datetime.date(2020, 10, 1)
print( f'Construindo uma Data {Data} \n' )

# Acessando os atributos da DAta
Ano = Data.year
Mes = Data.month
Dia = Data.day
print(f'Hoje é dia {Dia} do mês {Mes} do ano de {Ano} \n')

# Operação
Intervalo = Data - Dia_Hoje
print(f'Já ocorreu {Intervalo} dias \n' )

# Ajustando o formato
Novo_Formato = Dia_Hoje.strftime('%d/%m/%y')
print( f'Hoje é: {Novo_Formato} \n' )

# Aumentar dias ou diminuir
print( f'Somando 30 dias, {Dia_Hoje + datetime.timedelta(days = 30)}' )
print( f'Diminuindo 30 dias, {Dia_Hoje - datetime.timedelta(days = 30)}' )

Hoje é: 2024-04-01

Construindo uma Data 2020-10-01

Hoje é dia 1 do mês 10 do ano de 2020

Já ocorreu -1278 days, 0:00:00 dias

Hoje é: 01/04/24

Somando 30 dias, 2024-05-01
Diminuindo 30 dias, 2024-03-02

**Pacote Time**

In [8]:
# Importar a Lib
import time

print('Esse print foi rápido!')
time.sleep(2.5)
print('Esse print aconteceu depois de 2.5 segundos \n')

# Capturar o local agora
Agora = time.localtime()
print( type(Agora) )
print( Agora )
print( time.strftime('%m/%d/%Y, %H:%M:%S', Agora ), '\n' )

# Converter uma string para time
Time_Texto = '21 June, 2018'
Conversao = time.strptime(Time_Texto, '%d %B, %Y')
print(Conversao)

Esse print foi rápido!
Esse print aconteceu depois de 2.5 segundos

<class 'time.struct_time'>
time.struct_time(tm_year=2024, tm_mon=4, tm_mday=1, tm_hour=15, tm_min=47, tm_sec=5, tm_wday=0, tm_yday=92, tm_isdst=0)
04/01/2024, 15:47:05

time.struct_time(tm_year=2018, tm_mon=6, tm_mday=21, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=172, tm_isdst=-1)

**Pacote Math**

In [9]:
import math

# Sem necessidade do math

# Minino e Maximo
Tupla = (10, 15, 5, 8, 20)
print( min(Tupla) )
print( max(Tupla) )

# ABS  retorna o valor absoluto (positivo) do número especificado
print( abs(-7.25) )

# Retorna a potencia (seria o msm que 3 * 3 * 3 * 3)
print( pow(3, 4) )

# Raiz quadrada
Raiz_Quadrada = math.sqrt( 81 )
print( Raiz_Quadrada )

# Arrendondamento

# Arredonda um número para cima até o número inteiro mais próximo
print( math.ceil(1.4) )

# Arredonda um número para baixo até o número inteiro mais próximo
print( math.floor(1.4) )

# retorna o numero de PI
print( math.pi )

5
20
7.25
81
9.0
2
1
3.141592653589793

**Pacote Random**

In [10]:
# import random
import random

# Lista numerico
Lista_Numerica = [1, 2, 3, 4, 5, 6]
print(f'O número sorteado foi: {random.choice(Lista_Numerica)} \n')

# Sortear uma letra da palavra
Palavra = 'Odemir'
print(f'A Letra sorteada foi: {random.choice(Palavra)} \n')

# Numero aleatorio entre 0 e 1
Numero_Aleatorio = random.random()
print(f'O Numero gerado foi: {Numero_Aleatorio} \n')

Numero_Aleatorio_01 = random.randint(0, 10)
print(f'Número aleatorio entre 1 e 10 foi: {Numero_Aleatorio_01}')

O número sorteado foi: 2

A Letra sorteada foi: m

O Numero gerado foi: 0.47319788022080433

Número aleatorio entre 1 e 10 foi: 0

**Pacote Statistics**

In [11]:
# Importando a Statistics para operar nas listas
import statistics

# Retirando a média
Media = statistics.mean( [1, 2, 3, 4, 4] )
print(f'A media seria: {Media} \n')

Mediana = statistics.median( [1, 2, 3, 4, 4] )
print(f'A mediana seria: {Mediana} \n')

Moda = statistics.mode( [1, 2, 3, 4, 4] )
print(f'A moda seria: {Moda}')

A media seria: 2.8

A mediana seria: 3

A moda seria: 4

**Condição IF**

In [12]:
# Condição se a pessoa tiver menor de 18 anos, ela nao no sistema.
Idade = 20

if Idade >= 18:
  print('você é maior de idade!')

você é maior de idade!

In [14]:
# Condição IF + ELSE

Idade = int( 15 )

if Idade >= 18:
  print('Você é de maior!')

else:
  print('Você é menor de Idade!!!')

Você é menor de Idade!!!

In [18]:
# Condição IF + ELSE + ELIF

Idade = int( 14 )

if Idade > 18:
  print('Você é de maior!')

elif Idade == 18:
  print('Opa! recém 18!!!')

elif Idade < 18 and Idade >= 14:

  if Idade % 2 == 0:
    print('Quase um adulto!!! Aproveita !!!!!!!!!!')

else:
  print('Você é menor de Idade!!!')

Quase um adulto!!! Aproveita !!!!!!!!!!

**Estrutura FOR**

In [20]:
for x in range(10):
  print( x ** 2  )

0
1
4
9
16
25
36
49
64
81

In [21]:
Lista_Paises = ['Brasil', 'Argentina', 'Uruguai', 'Chile', 'Paraguai', 'Bolivia', 'Equador',
                'Colombia', 'Suriname', 'Guiane', 'Goianai France']

for Loop in Lista_Paises:
  print( Loop )

Brasil
Argentina
Uruguai
Chile
Paraguai
Bolivia
Equador
Colombia
Suriname
Guiane
Goianai France

In [22]:
Lista_Paises = ['Brasil', 'Argentina', 'Uruguai', 'Chile', 'Paraguai', 'Bolivia',
                'Equador', 'Colombia', 'Suriname, Guiane, Goianai France']

for Loop in range( len(Lista_Paises) ):
  print( Lista_Paises[Loop] )

Brasil
Argentina
Uruguai
Chile
Paraguai
Bolivia
Equador
Colombia
Suriname, Guiane, Goianai France

In [23]:
for Posicao, P in enumerate( Lista_Paises ):
  print( Posicao / 4 , P )

0.0 Brasil
0.25 Argentina
0.5 Uruguai
0.75 Chile
1.0 Paraguai
1.25 Bolivia
1.5 Equador
1.75 Colombia
2.0 Suriname, Guiane, Goianai France

In [1]:
Lista_Numerica = [ Numero for Numero in range(1, 100, 5) ]
Armazenar = []

for x in Lista_Numerica:

  if x % 2 == 0:
    Armazenar.append( x )

print( Armazenar )

from pandas import DataFrame
print( DataFrame(Armazenar) )

[6, 16, 26, 36, 46, 56, 66, 76, 86, 96]
    0
0   6
1  16
2  26
3  36
4  46
5  56
6  66
7  76
8  86
9  96

In [2]:

Lista = [ 'Brasil', 'Argentina', 'Uruaguai', 'Paraguai' ]

Dicionario = {
    'Brasil' : 'Real',
    'Argentina' : 'Peso ARG',
    'Uruaguai' : 'Peso URU',
    'Paraguai' : 'Guarany'
}

for Paises in Lista:

  if Paises == 'Brasil':
    print( f'Moeda do {Paises} é { Dicionario[Paises] }' )
    print('Mooeda do', Paises, 'é', Dicionario[Paises] )
    print('Mooeda do ' + str (Paises) + ' é ' + str(Dicionario[Paises] ) )
  else:
    pass

Moeda do Brasil é Real
Mooeda do Brasil é Real
Mooeda do Brasil é Real

**Estrutura While**

In [3]:
Loop = 0

while Loop <= 10:
  print( Loop )
  Loop += 1

0
1
2
3
4
5
6
7
8
9
10

In [5]:
Loop = 0

while Loop <= 10:
  print( Loop )
  Loop += 1

  if Loop == 5:

    for c in range(10):
      print(c)

0
1
2
3
4
0
1
2
3
4
5
6
7
8
9
5
6
7
8
9
10

In [8]:
import random

while True:

  Jogador1 = random.randint(0, 6)
  Jogador2 = random.randint(5, 10)

  if Jogador1 > Jogador2:
    print(Jogador1, '-', Jogador2, 'FINALMENTE !!!!!!!!!!!')
    break

  else:
    print(Jogador1, '-', Jogador2)

4 - 5
3 - 8
4 - 8
3 - 9
3 - 5
3 - 7
5 - 10
0 - 7
6 - 7
5 - 9
6 - 10
4 - 10
5 - 6
3 - 6
4 - 7
5 - 8
5 - 6
1 - 5
4 - 5
4 - 7
3 - 8
0 - 9
0 - 10
1 - 7
3 - 7
1 - 6
2 - 6
0 - 5
3 - 9
4 - 5
6 - 10
2 - 6
1 - 7
6 - 8
1 - 10
3 - 8
5 - 6
5 - 7
6 - 9
0 - 10
1 - 10
5 - 7
0 - 6
6 - 10
3 - 7
6 - 8
4 - 8
1 - 9
0 - 10
1 - 7
1 - 9
5 - 8
1 - 9
3 - 5
6 - 7
4 - 8
3 - 8
1 - 5
2 - 9
1 - 10
0 - 6
6 - 9
5 - 9
4 - 6
0 - 6
5 - 9
3 - 7
3 - 7
1 - 5
2 - 10
4 - 8
0 - 10
4 - 6
5 - 5
2 - 9
6 - 8
0 - 5
3 - 10
4 - 6
0 - 5
1 - 8
5 - 6
5 - 6
2 - 9
1 - 7
4 - 5
4 - 5
6 - 9
4 - 8
5 - 8
2 - 5
3 - 9
1 - 7
6 - 5 FINALMENTE !!!!!!!!!!!

**Break e Continue**

In [9]:
# For + Lista + IF + Break
Lista_Paises = ['Brasil', 'Argentina', 'Uruguai', 'Chile', 'Paraguai', 'Bolivia',
                'Equador', 'Colombia', 'Suriname, Guiane, Goianai France']
Loop = 0

for P in Lista_Paises:

  if P == 'Chile':
    print('Chegou')
    break

  else:
    pass

  Loop += 1
  print( Loop )

1
2
3
Chegou

In [1]:
Loop = 0

while Loop <= 10:
  print( Loop )
  Loop += 1

  if Loop == 5:

    for c in range(10):
      print(c)

    break

0
1
2
3
4
0
1
2
3
4
5
6
7
8
9

In [2]:
# Loop de 1 a 10
for i in range(1, 11):

    # If i is equals to 6,
    # continue to next iteration
    # without printing
    if i == 5:
      continue
      print(f'{i}º interação --> Estou no IF')

    else:
        # otherwise print the value
        # of i
        print(f'{i}º Continue continua sempre!!!!')
        #print(i)

1º Continue continua sempre!!!!
2º Continue continua sempre!!!!
3º Continue continua sempre!!!!
4º Continue continua sempre!!!!
6º Continue continua sempre!!!!
7º Continue continua sempre!!!!
8º Continue continua sempre!!!!
9º Continue continua sempre!!!!
10º Continue continua sempre!!!!

**Estrutura de Funções**

In [1]:
# Funções simples
def Somar(Valor1, Valor2):
  Soma = Valor1 + Valor2
  print(Soma)

Somar(-67.900, 10.121233)

-57.778767

In [2]:
def Boas_Vindas():
  print('********* PYTHON **************')

Boas_Vindas()

********* PYTHON **************

In [3]:
from random import randint
# Função
def Sobrenome( Algum_Texto, Numero ):
  print(f'Nome dele é: {Algum_Texto}')

  if Numero >= 10:
    print('Maior que 10')
  else:
    print('NADA!')

Lista_Nomes = ['Odemir', 'Luigi', 'Mariana']

for Nome in Lista_Nomes:
  Sobrenome( Nome, randint(1,12) )

Nome dele é: Odemir
NADA!
Nome dele é: Luigi
NADA!
Nome dele é: Mariana
Maior que 10

**Lambda**

In [4]:
# Função
Funcao = lambda valor: valor + 10
print( Funcao( 10 ) )

Funcao_02 = lambda valor1, valor2 : valor1 + valor2
print( Funcao_02( 100 , 100 ) )

20
200

In [6]:
# Função Lambda
Nao_Faxa_isso = lambda Qualquer_Valor: 'Verdadeiro' if Qualquer_Valor % 2 == 0 else 'Falso'
#Nao_Faxa_isso = lambda x: True if x % 2 == 0 else Falso
Nao_Faxa_isso( 100 )

'Verdadeiro'

**Estrutura TRY**

In [7]:
#
try:
  0 / 0
except:
  print('Deu Ruim!!!')

Deu Ruim!!!

In [8]:
try:
  print(Algo_Coisa_Que_Nao_Defini)

except NameError:
  print("Ops deu algum erro!")

finally:
  print("Vou ser executado de qualquer forma")

Ops deu algum erro!
Vou ser executado de qualquer forma

**Estrutura de Classes/Objetos**

In [9]:
class Pessoa:

  # Metodo Construtor
  def __init__(self, Nome, Idade):
    self.Nome = Nome
    self.Idade = Idade

  def Boas_Vindas(self):
    print('Olá sem benvindo: ', self.Nome)

  def Recusado(self):
    print('Seu acesso foi recusado!')

  # Função
  def Maior_Idade(self):
    if self.Idade >= 18:
      print('Usuário é maior de idade')
      self.Boas_Vindas()
    else:
      print('Usuário é menor de Idade')
      self.Recusado()

In [10]:
Dados = Pessoa('Odemir', 12)

In [11]:
Dados.Maior_Idade()

Usuário é menor de Idade
Seu acesso foi recusado!